body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #fdfdfd;
  color: #222;
}

header {
  background-color: #d30000;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

main {
  padding: 2rem;
}

.productos, .contacto {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

.contacto a {
  color: #d30000;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}
